:root {
--Blue-100: hsl(225, 100%, 94%);
--Blue-700: hsl(245, 75%, 52%);
--Blue-50: hsl(225, 100%, 98%);
--Gray-600: hsl(224, 23%, 55%);
--Blue-950: hsl(223, 47%, 23%);
--attribution-color: hsl(228, 45%, 44%); 
--button-shadow: rgba(59, 59, 219, 0.3);
--card-shadow: rgba(59, 59, 219, 0.2);
}

/* 1 rem = 16px  */
html {
    height: 100%;
    margin: 0;
}
body { 
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Blue-100);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    width: 420px;
    height: auto;
    border-radius: 1.25rem;
    background-color: white;
    color: var(--Gray-600);
    font-family: 'Red Hat Display', sans-serif;
    box-shadow: 0px 15px 25px var(--card-shadow);
}
.card-image{
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.title{
    color: var(--Blue-950);
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0;
}

.container {
    padding: 2rem 3rem;

}

.attribution { 
    font-size: 0.65rem; text-align: center; 
}

.attribution a {
    color: var(--attribution-color); 
}

.plan-details-card {
    background-color: var(--Blue-50);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.plan-details {
    line-height: 1.5;
    margin-right: 3rem;
}
.plan{
    color: var(--Blue-950);
    font-weight: 700;
    margin-bottom: 0;
}

.plan-price {
    margin-top: 0;
}

.change-link {
    color: var(--Blue-700);
    font-size: 0.9rem;
    font-weight: 700;
}

.change-link:hover {
    text-decoration: none;
    opacity: 0.8;
}

.proceed-btn {
    width: 100%;
    background-color: var(--Blue-700);
    border: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    padding: 0.7rem;
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 15px 25px var(--button-shadow);
    font-size: 0.8rem;
}
.proceed-btn:hover {
    opacity: 0.8;
}
.cancel-btn {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: var(--Gray-600);
    font-weight: 900;
    padding: 0.7rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.cancel-btn:hover {
    color: var(--Blue-950);
}